lambda/kafka/datagen/plugins

**/target/

dependency-reduced-pom.xml

.idea

.vscode

node_modules

/lambda/master/storage/data

/lambda/master/pyspark-notebook/spark-3.1.1-bin-hadoop3.2

/lambda/master/kafka/kafka_2.12-2.6.0

volumes

.ipynb_checkpoints