{
  "name": "datagen",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.topic": "iot-data-event",
    "schema.filename": "/usr/share/datagen/configs/datagen_connector.schema",
    "schema.keyfield": "USER_ID",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "tasks.max": "4",
    "max.interval": 1000
  }
}